/* Ustawienia dla nagłówka "Ustawienia figur" i "Ustawienia algorytmu" */
.header-label {
    -fx-font-size: 20px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubiona czcionka */
    -fx-text-fill: red; /* Czerwony kolor tekstu */
}

/* Ustawienia dla nagłówków "Sfery", "Cylindry", "Prostokąty" */
.sub-header-label {
    -fx-font-size: 14px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubiona czcionka */
    -fx-text-fill: black; /* Czarny kolor tekstu */
}

/* Ustawienia dla pola tekstowego */
TextField {
    -fx-font-size: 14px; /* Rozmiar czcionki */
}

/* Ustawienia dla przycisków */
Button {
    -fx-background-color: #3c8dbc; /* Kolor tła */
    -fx-text-fill: white; /* Biały kolor tekstu */
    -fx-font-weight: bold; /* Pogrubiona czcionka */
    -fx-padding: 5px 10px; /* Wewnętrzne marginesy */
}

/* Ustawienia dla obszaru tekstowego (dla wyników) */
TextArea {
    -fx-font-family: "Times New Roman"; /* Czcionka Times New Roman */
    -fx-font-size: 14px; /* Rozmiar czcionki */
}
